{% load static %}
<!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{% static 'img/logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'home' %}">home</a></li>
                                            <li><a href="{% url 'menu' %}">Menu</a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>
                                             
                                            <li><a href="{% url 'blog' %}">blog</a></li>
                                            <li><a href="{% url 'contact' %}">contact</a></li>
                                           
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                                {% if request.user.is_authenticated %}
                                    <button type="button" class="btn btn-primary mx-2" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="My cart">
                                        Cart(<span id="cart">0</span>)
                                    </button>
                                    <li><a href="{% url 'tracker' %}" class="btn btn-primary mx-2">Tracker</a></li>
                                    {{ request.user.username }}&nbsp;<li><a href="{% url 'logout' %}" class="btn btn-primary mx-2">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'signup' %}" class="btn btn-primary mx-2">SignUp</a></li> |
                                    <li><a href="{% url 'login' %}" class="btn btn-primary mx-2">LogIn</a></li>
                                {% endif %}
                            <div class="seach_icon">
                                <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->