{% extends 'partials/base.html' %}
{% load static %}

    {% block header %}
    {% include 'partials/header.html' %}
    {% endblock header %}


    {% block slider_area %}
    {% include 'partials/slider_area.html' %}
    {% endblock slider_area %}


    {% block category_area %}
    {% include 'partials/category_area.html' %}
    {% endblock category_area %}
   

    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}

    
    {% block script %}
    {% include 'partials/script.html' %}
    {% endblock script %}